/*------------------------------------
Buttons
------------------------------------*/

.button {
    overflow: hidden;
    font-weight: 700;
    position: relative;
    border-radius: 3px;
    white-space: nowrap;
    display: inline-block;
    transition: all 0.1s;

}

.button-block {
    width: 100%;
    float: inherit;
    display: block;
}

/*
  * Button Sizes
  */

.button-sm {
    height: 36px;
    font-size: 12px;
    padding: 9px 18px;
}

.button-circle-sm {
    width: 36px;
    height: 36px;
    font-size: 12px;
    line-height: 36px;
}

.button-md {
    height: 45px;
    font-size: 14px;
    padding: 12px 30px;
}

.button-circle-md {
    width: 45px;
    height: 45px;
    font-size: 14px;
    line-height: 45px;
}

.button-lg {
    height: 45px;
    font-size: 14px;
    padding: 14px 27px;
}

.button-circle-lg {
    width: 55px;
    height: 55px;
    font-size: 18px;
    line-height: 55px;
}

.button-xl {
    height: 63px;
    font-size: 20px;
    padding: 19px 42px;
}

.button-circle-xl {
    width: 62px;
    height: 63px;
    font-size: 20px;
    line-height: 62px;
}

/*
  * Button Colors
  */

.button-dark {
    color: #fff;
    background-color: #242424;
}

.button-dark:hover {
    color: #fff;
    background-color: #111;
}

.button-light {
    color: #333;
    background-color: #fff;
}

.button-light:hover {
    color: #000;
    background-color: #eee;
}

.button-primary {
    color: #fff;
    background-color: $primary;
}

.button-primary:hover {
    color: #fff;
    background-color: $primary-1;
    font-weight: 600;
}

.button-secondary {
    color: #000;
    background-color: $secondary;
}

.button-secondary:hover {
    background-color: $secondary-1;
    font-weight: 600;
}

.button-gradient {
    color: #fff;
}

.button-gradient:hover {
    color: #fff;
    -webkit-box-shadow: 0 3px 12px $primary;
    box-shadow: 0 3px 12px $primary;
}

.button-line-light {
    color: $base-0;
    border: 2px solid $base-0;
}

.button-line-dark {
    color: $base-1;
    border: 2px solid $base-1;
}

.button-line-primary {
    color: $primary;
    border: 2px solid $primary;
}

.button-line-secondary {
    color: $secondary;
    border: 2px solid $secondary;
}

/*
  * Button Styles
  */

.button-flat {
    border-radius: 0;
}

.button-circle {
    border-radius: 50%;
}

.button-radius {
    border-radius: 24px;
}

.button-circle {
    border-radius: 50%;
}

.button-circle i {
    top: 50%;
    left: 50%;
    position: absolute;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.button-icon-md {
    width: 45px;
    height: 45px;
    line-height: 45px;
    text-align: center;
}

.button-icon-lg {
    width: 60px;
    height: 60px;
    font-size: 18px;
    line-height: 60px;
    text-align: center;
}

.button-icon-xl {
    width: 72px;
    height: 72px;
    font-size: 24px;
    line-height: 78px;
    text-align: center;
}

.button-alt {
    &:before {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        content: "";
        opacity: 0.15;
        position: absolute;
    }

    &.button-alt-primary {
        color: $primary;

        &:before {
            background-color: $primary-1;
        }
    }

    &.button-alt-secondary {
        color: $secondary;

        &:before {
            background-color: $secondary-1;
        }
    }

    @extend .shadow-3;
}

.button-shape {
    border-radius: 36px;
    border-top-right-radius: 0;
}


.button-arrow {
    .icon-arrow {
        width: 45px;
        height: 2px;
        display: block;
        position: relative;
        background-color: #fff;

        &.arrow-left {
            &:before,
            &:after {
                left: 0;
                width: 10px;
                height: 2px;
                content: "";
                position: absolute;
                background-color: #fff;
            }

            &:before {
                top: -4px;
                transform: rotate(-45deg);
            }

            &:after {
                bottom: -4px;
                transform: rotate(45deg);
            }
        }

        &.arrow-right {
            &:before,
            &:after {
                right: 0;
                width: 10px;
                height: 2px;
                content: "";
                position: absolute;
                background-color: #fff;
            }

            &:before {
                top: -4px;
                transform: rotate(45deg);
            }

            &:after {
                bottom: -4px;
                transform: rotate(-45deg);
            }
        }
    }

    &.button-secondary,
    &.button-primary {
        .icon-arrow {
            background: white ;
            &:before,
            &:after {
                background: white;
            }
        }
    }

    &.button-default {
        .icon-arrow {
            background: $primary ;
            &:before,
            &:after {
                background: $primary ;
            }
        }
    }
}
