/*------------------------------------
    Element: Heading
------------------------------------*/

.el-heading {
    margin-bottom: 69px;

    p {
        color: $text-color;
        font-size: 21px;
        font-weight: 500;
        margin-bottom: 39px;
    }

    h1 {
        margin-bottom: 30px;
    }

    h2 {
        line-height: 1.2;
        margin-bottom: 30px;
    }

    .subtitle {
        font-size: 24px;
        font-weight: 700;
    }



    &.center {
        text-align: center;
        max-width: 720px;
        margin: 0 auto ($space - 21);
    }
}

.section {
    position: relative;
}

