/*------------------------------------
    Dev tools
------------------------------------*/
.dev-size {
    min-height: 300px !important;
    min-width: 300px !important;
}

.dev-bg-1 {
    background: #ffbc5b;
}

.dev-bg-2 {
    background: yellow;
}

.dev-border {
    border: solid 1px red;
}


/*------------------------------------
    Newsletter
------------------------------------*/
.section-newsletter-1 {
    background: $primary;

    h2 , p {
        color: white !important;
    }
    .input-group {
        display: block;
        background: white;
        border-radius: 36px 0 36px 36px;
        position: relative;
        width: 100%;
        height: 61px;
        padding: 8px;

        input {
            position: absolute;
            height: 50px;
            left: 12px;
            width: 68%;
            font-weight: 500;
            font-size: 18px;
            @include placeholder {
                color: #999;
            }
        }

        .input-group-append {
            position: absolute;
            width: 30%;
            height: 50px;
            right: 8px;
            button {
                font-size: 18px;
            }
        }
    }



    img {
        -webkit-animation-timing-function: cubic-bezier(.54,.085,.5,.92);
        animation-timing-function: cubic-bezier(.54,.085,.5,.92);
        -webkit-animation-name: animateUpDown;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        animation-name: animateUpDown;
        position: absolute;

        width: 75%;
    }

    img.left {

        z-index: 0;
        left: 200px;
        top: -6%;
        -webkit-animation-duration: 3s;
        animation-duration: 3.2s;
    }

    img.right {
        width: 79%;
        left: 150px;
        top: 15%;
        -webkit-animation-timing-function: cubic-bezier(.54,.085,.5,.92);
        animation-timing-function: cubic-bezier(.54,.085,.5,.92);
        -webkit-animation-name: animateUpDown;
        animation-name: animateUpDown;
        -webkit-animation-iteration-count: infinite;
        animation-iteration-count: infinite;
        animation-duration: 3.6s;
    }
}

/*------------------------------------
    Blog
------------------------------------*/
.section-blog-1 {
    .card {
        background: white;
        border-radius: 16px;
        overflow: hidden;
        border: solid 1px black;

        .avatar {
            width: 100%;
            overflow: hidden;
            position: relative;
            padding-bottom: 60%;

            margin-bottom: 16px;

            img {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
            }
        }

        .content {
            padding: 15px 30px;
            text-align: center;

            h3 {
                font-size: 20px;
            }

            h3 , p {
                text-align: left;
            }


            button {
                margin-top: 30px;
                margin-bottom: 30px;
            }

        }
    }
}



/*------------------------------------
    Section: Quotes
------------------------------------*/

.section-testimonial-2 {
    .testimonial-image {
        position: relative;
        padding-right: 30px;
        height: 420px;

        .icon {
            top: 20px;
            left: 20px;
            color: $primary;
            font-size: 60px;
            position: absolute;
        }

        .circle {
            height: 100%;
            position: relative;

            .image {
                top: 0;
                left: 0;
                width: 100%;
                position: absolute;
                padding-top: 100%;
                border-radius: 50%;
                border-top-right-radius: 0;
            }
        }
    }

    .testimonial-item {
        border: 0;
        outline: 0;

        padding: $space/2 0;

        p {
            &:before,
            &:after {
                content: '"';
            }
        }

        div {
            position: relative;
            margin-bottom: 30px;

            .role {
                display: block;
                margin-bottom: 30px;
                color: #999;
                font-size: 16px;
            }

            .name {
                display: block;
                font-weight: 700;
                margin-bottom: 3px;
            }
        }
    }
}


/*------------------------------------
    Quote Slider
------------------------------------*/

.slick-slider .slick-dots {
    position: relative;

    li {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;
        border: 1px solid;

        &.slick-active {
            background-color: $base-0;

            button {
                &:before,
                &:after {
                    color: transparent;
                }
            }
        }
    }

    button {
        width: 10px;
        height: 10px;
        display: inline-block;
        border-radius: 50%;

        &:before,
        &:after {
            color: transparent;
        }
    }
}

.slick-slider {
    &.light .slick-dots li {
        border-color: $base-0;

        &.slick-active {
            background-color: $base-0;
        }
    }

    &.dark .slick-dots li {
        border-color: $base-1;

        &.slick-active {
            border-color: $primary;
            background-color: $primary;
        }
    }
}

// Slider 1
.el-slider-1 {
    position: relative;

    .button-arrow {
        top: 300px;
        z-index: 3;
        position: absolute;

        &.button-arrow-left {
            left: 43%;
        }

        &.button-arrow-right {
            left: calc(45% + 100px);
        }

    }
}

/*------------------------------------
   Footer
------------------------------------*/

.section-footer-1 {
    background: $primary;
    background: #051A2E;
    color: white;
    font-size: 16px;

    p {
        color: white;
        line-height: 1.8;
        font-weight: 500;
    }

    .footer-container {

        h2, h3 , h4 {
            color: $primary;
        }

        h2 {
            font-size: 30px;
        }

        h3 {
            font-size: 20px;
        }

        h4 {
            color: white;
            font-size: 16px;
            padding: 0;
            margin: 0;
        }

        .info {
            width: 85%;
            a {
                color: rgba(255, 255, 255, 0.5) !important;
                display: block;
                font-weight: 700;
                margin-bottom: 8px;
            }
        }

        ul {
            padding: 0;
            margin: 0;

            li {
                color: white;
                list-style: none;
                line-height: 3;
            }
        }


        .articles {
            position: relative;
            padding-top: 18px;
            li {
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -ms-flex-direction: row;
                flex-direction: row;
                -webkit-flex-wrap: nowrap;
                -ms-flex-wrap: nowrap;
                flex-wrap: nowrap;
                -webkit-justify-content: flex-start;
                -ms-flex-pack: start;
                justify-content: flex-start;
                -webkit-align-content: stretch;
                -ms-flex-line-pack: stretch;
                align-content: stretch;
                -webkit-align-items: flex-start;
                -ms-flex-align: start;
                align-items: flex-start;



                div:nth-child(1) {
                    -webkit-order: 0;
                    -ms-flex-order: 0;
                    order: 0;
                    -webkit-flex: 1 0 auto;
                    -ms-flex: 1 0 auto;
                    flex: 1 0 auto;
                    -webkit-align-self: auto;
                    -ms-flex-item-align: auto;
                    align-self: auto;
                    overflow: hidden;
                    padding-top: 100px;
                    position: relative;

                    img {
                        border-radius: 8px;
                        position: absolute;
                        left: 0 ;
                        top: 0;
                        width: 100%;
                    }
                }

                div:nth-child(2) {
                    -webkit-order: 0;
                    -ms-flex-order: 0;
                    order: 0;
                    -webkit-flex: 1 0 auto;
                    -ms-flex: 10 auto;
                    flex: 1 0 auto;
                    -webkit-align-self: auto;
                    -ms-flex-item-align: auto;
                    align-self: auto;
                    padding-left: 16px;

                    h4 {
                        width: 60%;
                        line-height: 1.4;
                        font-size: 16px;
                    }


                    p{
                        color: #999;
                    }

                }
            }



        }

    }

    .copyright {
        margin-top: 30px;
        border-top: solid 1px white;
        padding:30px;
        text-align: center;
    }




}
