// Hero
.section-hero-1 {
    height: 100vh;

    .el-heading {
        p {
            margin-bottom: 39px;
        }

        h1 {
            margin-bottom: 30px;
        }

        h2 {
            margin-bottom: 15px;
        }
    }
}

